#draftContainer{
    margin: 0;
    padding-top: 10vh;
    padding-left: 5vw;
    height: 90vh;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
}

.pool { 
    grid-area: 1 / 2 / 7 / 3; 
    padding: 20px;
    text-align: center;
}
#red1 { grid-area: 2 / 1 / 3 / 2; }
#blu1 { grid-area: 2 / 3 / 3 / 4; }
#red2 { grid-area: 3 / 1 / 4 / 2; }
#blu2 { grid-area: 3 / 3 / 4 / 4; }
#red3 { grid-area: 4 / 1 / 5 / 2; }
#blu3 { grid-area: 4 / 3 / 5 / 4; }
#red4 { grid-area: 5 / 1 / 6 / 2; }
#blu4 { grid-area: 5 / 3 / 6 / 4; }
#red5 { grid-area: 6 / 1 / 7 / 2; }
#blu5 { grid-area: 6 / 3 / 7 / 4; }
.redbg { 
    grid-area: 1 / 1 / 7 / 2;
    background-color: rgba(255, 169, 169, 0.5);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    text-align: center;
}

.blubg { 
    grid-area: 1 / 3 / 7 / 4; 
    background-color: rgba(175, 215, 255, 0.5);
    border-radius: 30px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
}

body{
    background-image: url("https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltc28d43095579c8b5/5d87c24e8d8a3163705e3070/summonersrift.jpg");
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.teamImg{
    width: 50%;
    position: sticky;
}

.playerBox{
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    border-color: rgba(255, 255, 255, 0.415);
}

.filledPlayerBox{
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    border-color: rgba(255, 255, 255, 0.415);
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.redCaptain{
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    background-color: rgb(171, 29, 29);
    text-align: center;
    color: rgb(255, 210, 210);
}

.blueCaptain{
    border-width: 5px;
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    background-color: rgb(17, 75, 156);
    text-align: center;
    color: rgb(210, 234, 255);
}

.draftable{
    background-color: blanchedalmond;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    width: 75px;
    font-family: 'Figtree';
    font-weight: 100;
}

.roleIcon{
    width: 50px;
    display: inline-block;
}

.playerName{
    margin: 0;
}

.username{
    margin: 0;
}

h2{
    font-family: 'Figtree';
    font-weight: 700;
    font-size: xx-large;
}

h3{
    font-family: 'Figtree';
    font-weight: 100;
}

#greenscreen{
    width: 600px;
    height: 400px;
    background-color: rgb(0, 255, 0);
    border-radius: 30px;
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo{
    width: 400px;
    position: absolute;
    top: 44vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#redName{
    position: absolute;
    top: 5vh;
    left: 9vw;
    transform: translate(-50%, -50%);
    color: rgb(232, 189, 83);
}

#blueName{
    position: absolute;
    top: 5vh;
    left: 91vw;
    transform: translate(-50%, -50%);
    color: rgb(232, 189, 83);
}

#caption{
    position: absolute;
    top: 5vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: rgb(232, 189, 83);
}

#canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.icon{
    border-width: 10px;
    border-color: black;
    border-style: solid;
    object-fit: none;
    border-radius: 50%;
    width: 75%;
    zoom: .6;
    position: sticky;
}